# Sample crontab to check for and pull package updates every five
# minutes
SCRIPT=mkdeploy/run.sh
LOG=aptrepo/log/repo-update.log
QUIET=-q
MAILTO=""

0-59/5 * * * * $HOME/$SCRIPT repo -U $QUIET >> $HOME/$LOG 2>&1
